@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    font-family:Helvetica,Arial,sans-serif;
}
.nav {
    height:28px;
    font:12px/28px Helvetica;
    display:block;
    list-style:none;
    background-color:#545652;
}

.nav li{
    display: inline-block;
    vertical-align: baseline;
    margin: 0 8px;
    float: left;
}

.nav a{
    text-decoration:none;
    color:#d5d5d5;
}

.nav-right{
    float:right;
}

.nav a:hover{
    color:white;
}

.db-search{
    height:114px;
    background-color:#f0f3ef;
    overflow:hidden;
    zoom:1;
    margin-bottom:40px;
    text-align:center;
}
.search,.nav-search{
    margin:0 auto;
}
.logo{  
    float:left;
}
.inp{
    background-color:#fff;
    width:462px;
    height:30px;
    text-align:left;
    padding-left:10px;
    font-size:12px;
    font-family:inherit;
}
.nav2{
    color: #555d53;
    font-size: 13px;
    clear:both;
    width:950px;
    height:21px;
    margin:48px 0;
    border-top:1px solid #
}
.nav2 li{
    list-style: none;
    display:inline-block;
    margin-right:30px;
}
.icon{
    position:relative;
}
.icon img{
    top:1px;
    position:absolute;
    left:68px;
    vertical-align:middle;
    margin-right:4px;

    } 
.nav2 li:hover{
    color: white;
    background-color: #555d53;
}
.content{
    width: 950px;
    margin: 0 auto;
    display:block;
}
.left{
   float:left;
   width:590px;
   height: 2264px;
    }
.content h2,.rmcp h2{
    color: #111;
    font: 15px Arial;
    height:22px;
    margin:0 0 12px 0;
    line-height:150%;
}
.sp{
    font-size:12px;
    color:#37a;
    margin-left:10px;

    }
.sp:hover{
    color:white;
    background-color:#37a;
}
/*本周流行音乐人*/
.musician{
    height:308px;
    margin-bottom:30px;
    display:block;
}
.first-artist{
    float:left;
    width:180px;
    height:308px;
    padding:20px 0 0;
}
.cover{
    position: relative;
    width: 180px;
    height: 180px;
    background: url(images/01.jpg) no-repeat;
    background-size: cover;
}
.cover a{
    display:block;
    width:180px;
    height:180px;
    text-decoration:none;
}
.cover span{
    position:absolute;
    top:50%;
    left:50%;
    width:20px;
    height:20px;
    margin:-10px 0 0 -10px;
    background: #222;
    opacity:.95;
    border-radius:50%;
    text-align:center;
}
.cover span:after{
    display:inline-block;
    width: 0;
    height: 0;
    margin-left:2px;
    border-style: solid;
    border-width:5px 0 5px 8px;
    border-color:transparent transparent transparent #fff;
    content:'';
    line-height:0;
    }
.cover p{
    position:absolute;
     top:26%;
     font-size:13px;
     visibility:hidden;
     width:100%;
     text-align:center;
     display:block;
 }
 .cover:hover span{
    background:#fff;
    }
 .cover:hover span:after{
    border-color:transparent transparent transparent #111;
    }
 .cover:hover a{
    background:#333;
    opacity:.85;
    }
.cover:hover p{
    color:#fff;
    visibility:visible;
}
.fleece:after{
    position: absolute;
    content: '';
    right: 5%;
    bottom: 5%;
    width: 27px;
    height: 27px;
    background: url(images/fleece-id.png) no-repeat;
}
.name{
    padding:10px 5px 0 0;
    color:#666;
    font-size:12px;
}
.ll{
    float:left:
}
.first-artist h4{
   font-size:14px;
   line-height:180%;
   font-weight:400;
    }
.first-artist h4 a{
    text-decoration:none;
    color:#37a;
}
.first-artist h4 a:hover{
    color:#fff;
    background:#37a;
}
.ll p{
    margin:8px 0;
}
.hot-right{
    float:left;
    height:308px;
    width:395px;
    padding:20px 0 0;
}
.photoin{
    float:left;
    height: 144px;
    width: 100px;
    background:red;
    margin-left: 28px;
    overflow:hidden;
}

/*本周流行音乐人--END*/
.pic,.pic2{
    margin-bottom:46px;
    }
.jinqi{
    height:613px;
    }
.zr{
    background: url(images/gray_tab.png) no-repeat;
    background-position:right top;
    padding:2px 8px 2px 0;
    color:#fff;
}
.dbxdb{
    height:406px;
    margin:14px 0 30px 0;
    background-color:#5de597;
}
.rmlp{
    height:458px;
    background-color:#5de597;
}
.right{
    width:310px;
    height:2166px;
    float:right;
}
.right2{
    background:url(images/bg2x.png) no-repeat;
    background-size:300px 174px;
    height:174px;
    margin:26px 0;
    display:block;
}
.right2 a{
    text-decoration:none;
}
.right2-rt{
    width:90px;
    height:35px;
    float:right;
    margin-top:5px;
}
.right2-content{
    position:absolute;
    margin-left:15px;
}
.right2-content h2{
    font-size:16px;
    color:#175098;
    margin:12px 0;
}
.right2-content ul{
    margin-left:5px;
    list-style:none;
}
.right2-content li{
    margin-bottom:7px;
    display: block;
    height: 18px;
    text-align:-wekit-match-parent;
}
.right2-content a{
    text-decoration:none;
    color:#fff;
    letter-spacing:1px;
    font:12px Helvetica;
}
.right2-content a:hover{
    text-decoration:underline;
}
.rmcp{
    height:253px;
    margin-bottom:30px;
}
.rmcp-fda{
    padding:10px 0;
    display:block;
    list-style:none;
    font:12px Helvetica;
    line-height:1.62;
    }
.rmcp-fda:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.rmcp h2{
    margin-bottom:0;
}
.rmcp-fda li{
    display:inline-block;
    width:60px;
    overflow:hidden;
    float:left;
}
.rmcp-fda.first{
    color:#111;
}
.rmcp-fda a{
    color:#37a;
    text-decoration:none;
}
.rmcp-fda a:hover{
    color:white;
    background-color:#37a;
}
.musician-dq{
    height:714px;
    background-color:#762b63;
 }
 .musician-dq h2{
    display:block;
    color:#111;
    font:15px Arial;
    line-height:150%;
}
 .musician-dq span{
    }
 .musician-dq ul{
    }
 .douban-250{
     height:448px;
     background-color:#762b63;
     margin:40px 0 20px 0;
}
.app{
    height:150px;
    background-color:#762b63;
    margin:44px 0 15px 0; 
}
.foot{
    margin:30px 0 0 0;
}
.footer{
    font:12px Helvetica;
    line-height:1.62;
    padding:6px 0;
    margin-top:40px;
    border-top:1px dashed #ddd;
}
.footer li{
    color:#999;
    list-style:none;
    display:inline-block;
    } 
.rights{
    color:#999;
    margin-right:257px;
}
.footer a{
    color:#37a;
    text-decoration:none;
}
